body {
    display: flex;
    flex-direction: column;
}

ul {
    color: #E5E7EB;
    list-style: none;
}

.header {
    background-color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly
}

.header img {
    max-width: 50px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.section-1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    color: #f9faf8;
    text-align: center;

}

.section-1-text h1{
    font-size: 48px;
}

.section-1-image {
    margin-bottom: 50px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-2 h1 {
    align-self: center;
    font-size: 36px;
}

.success-story-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.success-story-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
}

.success-story-1 img {
    max-width: 250px;
}

.success-story-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
}

.success-story-2 img {
    max-width: 250px;
}

.success-story-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
}

.success-story-3 img {
    max-width: 250px;
}

.success-story-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
}

.success-story-4 img {
    max-width: 250px;
}

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 100px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blue-Box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 100px;
    gap: 100px;
    border-radius: 10px;
}

.Blue-Box-Text {
    color: #f9faf8;
}

.Blue-Box button {
    border-color: #f9faf8;
    border-width: 5px;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly
}

.footer ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}